body{
  background-color: hsl(212, 45%, 89%);
font-family: 'Outfit', sans-serif;
}
.main{
  background-color:white;
  border-radius:5%;
  margin:5% auto;
  text-align:center;
  width:340px;
  height:510px;

}
img{
  width:298px;
  height:300px;
  margin-top:3%;
  padding:3% 2% 1%;
  border-radius:9%;
}

  .content{
    padding:6% 6% 4% 6%;
  }
  h3{
    font-size:25px;
    font-weight:400;
  }
  p{
    font-size:15px;
    color: hsl(220, 15%, 55%);
    padding:2% 6%;
    font-weight:700;
  }
